{#
/**
 * @file online_message.html.twig
 * Default theme implementation to present Online message data.
 *
 * This template is used when viewing Online message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_online_message()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('online_message') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
